* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Klee One", cursive, sans-serif;
}

.text-kyokasho {
  font-family: "Klee One", cursive, sans-serif;
}
